<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
         <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
          <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/shubam</property>
        
        <property name="show_sql">true</property>
         <property name="format_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
       
       
 <mapping class="com.mkyong.common.IVRLanguage"></mapping>
 <mapping class="com.mkyong.common.MedicalHistory"></mapping>
 <mapping class="com.mkyong.common.HIVMedicalHistory"></mapping>
 <mapping class="com.mkyong.common.NonHIVMedicalHistory"></mapping>

       
      
<mapping class="com.mkyong.common.Ailments"></mapping>
<mapping class="com.mkyong.common.Ailment"></mapping>
<mapping class="com.mkyong.common.AllergyHistory"></mapping>
<mapping class="com.mkyong.common.ModeOfTransmission"></mapping>
<mapping class="com.mkyong.common.HIVTestReason"></mapping>
<mapping class="com.mkyong.common.MedicalHistoryQuestion"></mapping>
<mapping class="com.mkyong.common.NonHIVMedicalHistory"></mapping>
<mapping class="com.mkyong.common.OtherAilment"></mapping>
<mapping class="com.mkyong.common.SystemCategory"></mapping>
<mapping class="com.mkyong.extras.TimeOfDay"></mapping>
 <mapping class="com.mkyong.common.City"></mapping>
 <mapping class="com.mkyong.common.Clinic"></mapping>
 <mapping class="com.mkyong.common.ClinicianContact"></mapping>
 <mapping class="com.mkyong.common.Gender"></mapping>
 <mapping class="com.mkyong.common.Patient"></mapping>
 <mapping class="com.mkyong.common.PatientPreferences"></mapping>
 <mapping class="com.mkyong.common.CallLogH.CallEvent"></mapping>
  <mapping class="com.mkyong.common.CallLogH.CallLog"></mapping>
   <mapping class="com.mkyong.common.CallLogH.DataMap"></mapping>
    <mapping class="com.mkyong.common.PillRegimenH.PillRegimen"></mapping>
    <mapping class="com.mkyong.common.PillRegimenH.Dosage"></mapping>
     <mapping class="com.mkyong.common.AppointmentCalendarH.Visit"></mapping>
      <mapping class="com.mkyong.common.AppointmentCalendarH.AppointmentCalendar"></mapping>
       <mapping class="com.mkyong.common.AppointmentCalendarH.Appointment"></mapping>
 <mapping class="com.mkyong.common.AppointmentCalendarH.Reminder"></mapping>
 <mapping class="com.mkyong.common.RegimenH.DrugCompositionGroup"></mapping>
  <mapping class="com.mkyong.common.RegimenH.DrugComposition"></mapping>
  <mapping class="com.mkyong.common.RegimenH.Regimen"></mapping>              
    
    
   
 


      
        
    </session-factory>
</hibernate-configuration>
